.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 5%;
  min-height: 100vh;
  background-color: #fff994;
  color: #1f7e89;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85rem;
  padding-bottom: 45%;
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.footer {
  width: 100%;
  padding: 20px 5%;
  border-top: 2px solid #1f7e8933;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.t1{
  font-size:2rem;
  margin-top:5rem;
}

.t2{
  margin-top:1rem;
  font-size:1.5rem;
}
.t3{
  font-size:4rem;
  font-weight:500;
  margin-top:1rem;
}

.logo {
}

@media (max-width: 700px) {
  .logo {
    max-width: 80%;
  }
  .t1{
    font-size:1rem;
    margin-top:5rem;
  }
  
  .t2{
    margin-top:1rem;
    font-size:1.2rem;
  }
  .t3{
    font-size:2rem;
    margin-top:1rem;
  }
}
